.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space);
}

.no-margin {
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-areas:
    'left header  right'
    'left content right'
    'left content right'
    'left footer  right';
}

@media screen and (max-width: 800px) {
  .app-grid {
    grid-template-columns: 1fr 100% 1fr;
  }
}
