@font-face {
  font-family: 'helvetica';
  font-display: fallback;
  src: local('helvetica'), url(https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400);
}